#container {
    box-sizing: border-box;
    margin: 20px;
    width: 400px;
    height: 400px;
}
#container>div {
   
    display: flex;
    justify-content: center;
 
    

}
div .box {
     border: 1px solid green;
     width: 20px;
     height: 20px;
     
}